<%- include('header') %>
<form method="POST" action="/new">
<label for="name">Name: </label>
<input type="text" id="name" placeholder = "Enter name.." name = "user">
<label for="message">Message: </label>
<input type="text" id="message" placeholder = "Write message.." name = "text">
<button type="submit">Submit</button>
</form>
<%- include('footer') %>
