<!-- index.ejs -->
<html>
  <body>
  <% for (let i = 0; i<messages.length; i++){ %>
  	<p>
		<%= messages[i].user %>
		<%= messages[i].text %>
		<%= messages[i].added %>

	</p>
  <%}%>
  </body>
</html>

